@media screen and (max-width: 675px) {
    .header-section{
        flex-direction: column;
        /* margin-left: 50px; */
        align-items: center;
    }
    .items-container{
        flex-direction: column;
        /* margin-left: 50px; */
        align-items: center;
        gap: 20px;
    }
    .banner-section{
        flex-direction: column;
        align-items: center;
        margin-top: 40px
    }
    /* .banner-text-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .banner-image-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    } */
    .banner-text-container{
        width: 100%;
    }
    .banner-image-container{
        width: 100%;
    }
}